<div class="col-md-12" style="background-color: #35b6c773;">
    <div class="col-md-6 offset-md-3">
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" *ngIf="!IsForRegister" style="border-radius: 1rem;
                          background-image: url('/assets/bg2.jpg');
                          background-size: cover;">
                <div class="row g-0">
                  <!-- <div class="col-md-5 col-lg-5 d-none d-md-block">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                            alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div> -->
                  <div class="col-md-12 col-lg-12 d-flex align-items-center">
                    <div class="card-body text-black">
                      <form class="p-4" style="background-color: #ffffff9e; border-radius: 5px;" [formGroup]="loginForm"
                        (ngSubmit)="Login()">
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;font-weight: bold;">Sign Into Your
                          Account</h5>
                        <div class="form-outline mb-2">
                          <input type="text" class="form-control form-control-md" placeholder="Enter Username"
                            formControlName="username"
                            [ngClass]="{ 'is-invalid': submitted && lfrm.username.errors != null && lfrm.username.errors.required}" />
                          <div *ngIf="submitted && lfrm.username.errors != null && lfrm.username.errors.required"
                            class="invalid-feedback">
                            Username is required
                          </div>
                        </div>
                        <div class="form-outline mb-4">
                          <input type="password" class="form-control form-control-md" placeholder="Enter Password"
                            formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && lfrm.password.errors != null && lfrm.password.errors.required}" />
                          <div *ngIf="submitted && lfrm.password.errors != null && lfrm.password.errors.required"
                            class="invalid-feedback">
                            Password is required
                          </div>
                        </div>
                        <div class="pt-1 mb-4">
                          <button class="btn btn-primary btn-md btn-block col-md-12" id="loginBtn">Login</button>
                        </div>
                        <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                        <p style="color: #040941;">
                          Don't have an account? <a href="#!" style="color: #040941;" (click)="changeView(true)">Register
                            here</a>
                        </p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" style="border-radius: 1rem; background-image: url('/assets/bg.png');
              background-size: cover;" *ngIf="IsForRegister">
                <div class="row g-0">
                  <div class="col-md-12 col-lg-12 d-flex align-items-center">
                    <div class="card-body text-black">
                      <form class="p-4" style="background-color: #ffffff9e; border-radius: 5px;"
                        [formGroup]="registerForm" (ngSubmit)="Register()">
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;font-weight: bold;">Create Your
                          Account</h5>
                        <div class="form-outline mb-2">
                          <input type="email" class="form-control form-control-md" placeholder="Enter Email"
                            formControlName="email"
                            [ngClass]="{ 'is-invalid': regsubmitted && rfrm.email.errors != null && rfrm.email.errors.required}" />
                          <div *ngIf="regsubmitted && rfrm.email.errors != null && rfrm.email.errors.required"
                            class="invalid-feedback">
                            Email is required
                          </div>
                        </div>
                        <div class="form-outline mb-2">
                          <input type="text" class="form-control form-control-md" placeholder="Enter Username"
                            formControlName="userName"
                            [ngClass]="{ 'is-invalid': regsubmitted && rfrm.userName.errors != null && rfrm.userName.errors.required}" />
                          <div *ngIf="regsubmitted && rfrm.userName.errors != null && rfrm.userName.errors.required"
                            class="invalid-feedback">
                            Username is required
                          </div>
                        </div>
                        <div class="form-outline mb-2">
                          <input type="password" class="form-control form-control-md" placeholder="Enter Password"
                            formControlName="password" #pass
                            [ngClass]="{ 'is-invalid': regsubmitted && rfrm.password.errors != null && rfrm.password.errors.required}" />
                          <div *ngIf="regsubmitted && rfrm.password.errors != null && rfrm.password.errors.required"
                            class="invalid-feedback">
                            Password is required
                          </div>
                        </div>
                        <div class="pt-1 mb-4">
                          <button class="btn btn-primary btn-md btn-block col-md-12">Register</button>
                        </div>
                        <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                        <p style="color: #040941;">
                          You already have an account? <a href="#!" style="color: #040941;"
                            (click)="changeView(false)">Login</a>
                        </p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>